<html>
<head>
    <h1> Banks offering Rate of interest </h1>


</head>


<body>
 
    <table >
        <tr>
            <th>Bank name </th>
            <th>rate of interes</th>
            <th>Maxiumum loan amount </th>
            <th>Maximum time </th>
            
        </tr>
         
            <tr>
                <td>SBI</td>
                <td>8%</td>
                <td>
                  10000000000000
                </td>
                <td>
                    10 years 
                </td>
                

            </tr>
           
    </table>
    <br/><br/><br/><br/><br/><br/><br/>
  
    <form action="/ratecalculator" method= "POST">
        <input type="submit"  name = "submit_button" value ="Fiter by ROI "><br/> 
        <input type="submit" name = "submit_button" value ="Filter by Amount  "><br/> 
        <input type="submit" name = "submit_button" value ="Filter by time"><br/> 
        <input type="submit" name = "submit_button" value ="Calculate maximum future value">
       
        <h1>Pyhton mein iska code nahi likha hai abhi</h1>
    </form>

  

</body>

</html>
