<html>
<head>
    <h1> Banks offering Rate of interest </h1>


</head>


<body>
 
    
    <table border="1" >
        <thead> 
           <tr>
               <th>Loan_id</th>
               <th>Name</th>
               <th>ROI</th>
               <th>Max_amount</th>
               <th>Max_duration</th>
               <th>Installments</th>
           </tr>
           </thread>
        
               
                  <tbody> 
           {% for row in value %}  
               <tr> 
                   <td>{{row[0]}}</td> 
                   <td>{{row[1]}}</td> 
                   <td>{{row[2]}}</td>
                   <td>{{row[3]}}</td>
                   <td>{{row[4]}}</td>
                   <td>{{row[5]}}</td>
                    
               </tr> 
           {% endfor %} 
       </tbody> 
              
       </table>
    <br/><br/><br/><br/><br/><br/><br/>
  
    <form action="/banksort" method= "POST">
        <input type="submit"  name = "submit_button" value ="Fiter by ROI "><br/> 
        <input type="submit" name = "submit_button" value ="Filter by Amount  "><br/> 
        <input type="submit" name = "submit_button" value ="Filter by time"><br/> 
        <input type="submit" name = "submit_button" value ="Calculate maximum future value">
        <input type ="text" name="loanid">
        <input type="submit"  name = "submit_button" value ="Apply for the entered loan id"><br/> 
    </form>

  

</body>

</html>
