<html>
    <head>
        Check your bid status here
    </head>
    <body>

        <table border="1" >
            <thead> 
               <tr>
                   
                   <th>Name</th>
                   <th>Location </th>
                   <th>  Bid value </th>
                   <th>Application time </th>
                   <th>Application status </th>
                   
               </tr>
               </thread>
                
                      <tbody> 
               {% for row in value %}  
                   <tr> 
                       
                       <td>{{row[0]}}</td> 
                       <td>{{row[1]}}</td>
                       <td>{{row[2]}}</td>
                       <td>{{row[3]}}</td>
                       <td>{{row[4]}}</td>
                        
                    
                       
                        
                   </tr> 
               {% endfor %} 
           </tbody> 
                  
           </table>
       
    
        
        <form action="/notdecided" method= "POST">
            
            <br/> <br/> <br/> <br/> <br/>   

            <label for="USerID"> Filter by name </label><br><br>
                <input type="text"  name="Project name ">
                <input type="submit" value =" Run it ">
        </form>
    </body>
</html>