<html>
<head>
    <h1> Unresolved Complaints </h1>


</head>


<body>
 
    
    <table border="1" >
        <thead> 
           <tr>
               <th>Name </th>
               <th>Query </th>
               <th>Date posted </th>
               
           </tr>
           </thread>
        
               
                  <tbody> 
           {% for row in value %}  
               <tr> 
                   <td>{{row[0]}}</td> 
                   <td>{{row[1]}}</td> 
                   <td>{{row[2]}}</td>
                    
               </tr> 
           {% endfor %} 
       </tbody> 
              
       </table>
    <br/><br/><br/><br/><br/><br/><br/>
  
    <form action="/banksort" method= "POST">
        <input type="text" name="projectname"  value ="Fiter by Name ">
        <input type="submit"  name = "submit_button" value ="Fiter by Name "><br/> 
        <input type="submit" name = "submit_button" value ="Sortby Date  "><br/> 
        
    </form>

  

</body>

</html>
