<html>
    <head>
        <h1>
        Welcome {{hje}}
        </h1>
    </head>
    <body>
        <form action="/contractor" method= "POST">
        <input type="submit"  name = "submit_button" value ="Search for projects"><br/>
        <input type="submit" name = "submit_button" value ="Search for Banks"><br/>
        <input type="submit" name = "submit_button" value ="Check Complaints"><br/>
        <input type="submit" name = "submit_button" value ="Current project"><br/>
        <input type="submit" name = "submit_button" value ="Check Bid status"><br/>
        <input type="submit" name = "submit_button" value ="Check for the transactions">
        
    </form>

    </body>
</html>