<html>
<head>

</head>


<body>

    <table border="1" >
        <thead>
           <tr>
               <th>Institution_id</th>
               <th>Bank name</th>
               <th>Customer id</th>
               <th>Customer Name </th>
               <th>Bank location</th>
               <th>Customer category</th>
               <th>Loans clear</th>
               <th>Credibility score</th>
               

           </tr>
           </thead>


                  <tbody>
           {% for row in value %}
               <tr>
                   <td>{{row[0]}}</td>
                   <td>{{row[1]}}</td>
                   <td>{{row[2]}}</td>
                   <td>{{row[3]}}</td>
                   <td>{{row[4]}}</td>
                   <td>{{row[5]}}</td>



               </tr>
           {% endfor %}
       </tbody>

       </table>


       


</body>

</html>