<html>
<head>

</head>


<body>

    <table border="1" >
        <thead>
           <tr>
               <th>Borrower</th>
               <th>Borrower_id</th>
               <th> Interst Rate </th>
               <th> Amount </th>
               <th>PAid back </th>
               <th>Maturity Period</th>
               
           </tr>
           </thead>


                  <tbody>
           {% for row in value %}
               <tr>
                   <td>{{row[1]}}</td>
                   <td>{{row[3]}}</td>
                   <td>{{row[5]}}</td>
                   <td>{{row[7]}}</td>
                   <td>{{row[8]}}</td>
                   <td>{{row[9]}}</td>



               </tr>
           {% endfor %}
       </tbody>

       </table>


       <h3>Total no of borrowers : {{val2[0][0]}}</h3>


</body>

</html>