<html>
    <head>
        <h1>
            
        </h1>

    </head>
    <body>
        <h3>{{val3}}</h3>
        <h4>
            Name : {{value[0][3]}}</br>
            Location : {{value[0][4]}}</br>
            Size : {{value[0][5]}} acres </br>
            Completion Percentage : {{value[0][7]}} % </br>
            </br></br></br>
            Supplies Data
            Material Cost  : {{val2[0][1]}} % </br>
            Labour Cost  : {{val2[0][2]}} % </br>
            Engineers Cost  : {{val2[0][2]}} % </br>
            



        </h4>
    </body>
</html>