<html>
    <head>
        <h1>
        Welcome {{hje}}
        </h1>
    </head>
    <body>
        <form action="/govt" method= "POST">
        <input type="submit"  name = "submit_button" value ="Add new project">
        <input type="submit" name = "submit_button" value ="View ongoing projects">
        <input type="submit" name = "submit_button" value ="View completed projects">
        <input type="submit" name = "submit_button" value ="Check for the transactions">
        
    </form>

    </body>
</html>