<html>
<head>
    Ready to move in Houses
</head>


<body>
 <h1>Welcome</h1>
    <table >
        <tr>
            <th>Project Name</th>
            <th>Location</th>

            
            <th>complete details and requiremnts </th>
        </tr>
         
            <tr>
                <td>hello</td>
                <td>Agra</td>
                <td>
                    <a href="/housequery/1">Other details   </a>
                </td>

            </tr>
           
    </table>


    <br/><br/><br/><br/><br/><br/><br/>
    <form action="/stilltoadd" method ="POST">
        <input type ="text">
        <input type="submit"  name = "submit_button" value ="Filter by location"><br/> 
        
        <h1>Pyhton mein iska code nahi likha hai abhi</h1>
    </form>
    
  

</body>

</html>
