<html>
<head>
    Ready to move in Houses
</head>


<body>
 <h1>Welcome</h1>
   

    <table border="1" >
        <thead> 
           <tr>
               <th>Completed Project Id</th>
               <th>Name</th>
               <th>Location</th>
               <th>Size</th>
               <th>Price</th>
               <th>Check reviews</th>
           </tr>
           </thread>
            
                  <tbody> 
           {% for row in value %}  
               <tr> 
                   <td>{{row[0]}}</td> 
                   <td>{{row[3]}}</td> 
                   <td>{{row[5]}}</td>
                   <td>{{row[6]}}</td>
                   <td>{{row[7]}}</td>
                   <td><a href="/projectreviewforpublic/{{row[0]}}">Check reviews</a></td>
                    
               </tr> 
           {% endfor %} 
       </tbody> 
              
       </table>
   


    <br/><br/><br/><br/><br/><br/><br/>
    <form action="/housesort" method ="POST">
        <input type ="text" name="locname">
        <input type="submit"  name = "submit_button" value ="Filter by location"><br/> 
        <input type ="text" name="projectid">
        <input type="submit"  name = "submit_button" value ="Apply for the entered house"><br/> 
        
        <h1>Pyhton mein iska code nahi likha hai abhi</h1>
    </form>
    
  

</body>

</html>
