<html>
<head>

</head>


<body>

    <table border="1" >
        <thead>
           <tr>
               <th>Application Time</th>
               <th>Name</th>
               <th>Location</th>
               <th>Financial Category</th>
               <th>No. Of Female Members</th>
               <th>Loans Cleared</th>
               <th>Competence Score</th>
               <th>Application Status</th>

           </tr>
           </thead>


                  <tbody>
           {% for row in value %}

              <tr>

                  <td>{{row[0]}}</td>
                   <td>{{row[1]}}</td>
                   <td>{{row[2]}}</td>
                   <td>{{row[3]}}</td>
                   <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[7]}}</td>


               </tr>
           {% endfor %}
       </tbody>

       </table>




</body>

</html>
