<html>
<head>

</head>


<body>

    <table border="1" >
        <thead>
           <tr>
             <th>Project ID</th>
               <th>Project Name</th>
               <th>Project Completeion</th>
               <th>Assigned Contrator</th>
               <th>Assigned Contrator ID</th>

           </tr>
           </thead>


                  <tbody>
           {% for row in value %}
               <tr>
                 <td>
                   <form action="/MoreDetailsProj" method ="POST">
                       <input type ="submit" name="submit_button" value ={{row[0]}} >

                </form>
                 </td>
                   <td>{{row[1]}}</td>
                   <td>{{row[2]}}</td>
                   <td>{{row[3]}}</td>
                   <td>
                     <form action="/MoreDetailsContr" method ="POST">
                         <input type ="submit" name="submit_button" value ={{row[4]}} >

                  </form>
                   </td>


               </tr>
           {% endfor %}
       </tbody>

       </table>

       <br/><br/><br/><br/><br/><br/><br/>
      



</body>

</html>
