<html>
<head>
 
</head>


<body>
 
    <table >
        <tr>
            <th>Sender Name</th>
            <th>Sender ID</th>
            <th>Reciever name</th>
            <th>reciever Id</th>
            <th>Amount </th>
            <th>Date</th>
            
        </tr>
         
            <tr>
                <td>harman</td>
                <td>F00w01</td>
                <td>Ayush</td>
                <td>F0001</td>
                <td>
                   200000000000000       </a>
                </td>
                <td>
                    26 july       </a>
                </td>
             

            </tr>
          
    </table>
<br/><br/><br/><br/><br/><br/>
<label>Total Amount: 10000000000000</label><br/>
<label>RoI:9 </label><br/>
<label>Amount paid back : 789999999 </label><br/>
<label> Amount left: 10</label><br/><br/><br/><br/><br/><br/>
    <div id= "filter">
        <form action="/transactionfiler" method= "POST">
            <input type="submit"  name = "submit_button" value ="Sort by date">
            <input type="submit" name = "submit_button" value ="Filter by reciever id ">
            <input type="submit" name = "submit_button" value ="sort by amount">
            <input type="submit" name = "submit_button" value ="check transcation between these dates ">
            <h1>Pyhton mein iska code nahi likha hai abhi</h1>
        </form>
    
    </div>
   

</body>

</html>
