<html>
    <head>
        My lovely home 
    </head>
    <body>
        <form action="/stilltodo" method= "POST">
            <input type="text" value="Type your complaint here">
            <input type="submit"  name = "submit_button" placeholder ="Add a new query"><br/>
            
            <input type="text" value="Give reviews">
            <input type="submit"  name = "submit_button" placeholder ="give reviews "><br/>

            <input type="text" value="Give rating ">
            <input type="submit"  name = "submit_button" placeholder ="give rating"><br/>

            
            <input type="submit"  name = "submit_button" value ="Check previous complaints"><br/>
            
            
    </body>
</html> 