<html>
<head>
    <h1> Add a new project </h1>


</head>


<body>

    <form action="/newproject" method="POST"  >

        <label >Enter Project name :</label>
        <input type="text"  name="project_name"  ><br><br>



        <label >Enter project area :</label>
        <select name="location_area" >
            <option value="Agra">Agra</option>
            <option value="Delhi">Delhi</option>
            <option value="Bombay">Bombay</option>
            <option value="Fazilka">Fazilka</option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Ludhiana">Ludhiana</option>
            <option value="Panipat">Panipat</option>
            <option value="Ambala">Ambala</option>
          </select><br><br>

          <label >Enter Project Approximate Size (in sq. yards) :</label>
          <input type="text" name="proj_size" value="">

         <br><br><br><br><br>


         <h2>Other Requirements</h2>

          <label >Minimum Experience :</label>
          <input type="text"  name="experience"  ><br><br>

          <label >Minimum Cost Handled:</label>
          <input type="text"  name="cost_handled"  ><br><br>

          <label >No. of projects completed</label>
          <input type="text"  name="proj_completed"  ><br><br>


          <label >Pre workforce needed:</label>
          <select name="workforce" >


            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select><br><br>


          <input type="submit"  name = "submit_button" value ="Finalise Details">










      </form>



</body>

</html>
