<html>
    <head>
        <h1>
        Welcome {{hje}}
        </h1>
    </head>
    <body>
        <form action="/public" method= "POST">
        <input type="submit"  name = "submit_button" value ="Search for Houses"><br/>
        <input type="submit" name = "submit_button" value ="Search for Banks"><br/>
        <input type="submit" name = "submit_button" value ="Search for the home requests status"><br/>
        <input type="submit" name = "submit_button" value ="My home"><br/>
        <input type="submit"  name = "submit_button" value ="Check Loan Application Status"><br/>
        <input type="submit" name = "submit_button" value ="Check for the transactions">
        
        
    </form>

    </body>
</html>