<html>
    <head>
        Welcome to the bidding page
    </head>
    <body>

        <h1>First we display the all the Information about the house </h1>

        <form action="/contractor" method= "POST">
            
            <input type="submit" value ="Get all reviews"><br/>
            <input type="submit" value ="Get best reviews"><br/>
            <input type="submit" value ="Get worst reviews"><br/>
            <input type="submit" value ="Check Compatability Score"><br/>
            
            <label for="USerID">Interested ?  <br/> Register for your house :</label><br><br>
                
                <input type="submit" value ="Register for the house">
        </form>
    </body>
</html>