<html>
<head>
    
</head>


<body>
 <h1>Reviews</h1>
   

    <table border="1" >
        <thead> 
           <tr>
               <th>Review Id</th>
               <th>Public Id</th>
               <th>Review Score</th>
               <th>Review Comment</th>
           </tr>
           </thread>
            
                  <tbody> 
           {% for row in value %}  
               <tr> 
                   <td>{{row[0]}}</td> 
                   <td>{{row[1]}}</td> 
                   <td>{{row[3]}}</td>
                   <td>{{row[4]}}</td>
                   <td><a href="/projectreviewforpublic/{{row[0]}}"></a></td>
                    
               </tr> 
           {% endfor %} 
       </tbody> 
              
       </table>
   


    <!-- <br/><br/><br/><br/><br/><br/><br/>
    <form action="/housesort" method ="POST">
        <input type ="text" name="locname">
        <input type="submit"  name = "submit_button" value ="Filter by location"><br/> 
        <input type ="text" name="projectid">
        <input type="submit"  name = "submit_button" value ="Apply for the entered house"><br/> 
        
        <h1>Pyhton mein iska code nahi likha hai abhi</h1>
    </form> -->
    
  

</body>

</html>