<html>
<head>

</head>


<body>

    <table border="1" >
        <thead>
           <tr>
               <th>Project ID</th>
               <th>Project Name</th>
               <th>Project Contractor</th>
               <th>Number of Houses</th>

           </tr>
           </thead>


                  <tbody>
           {% for row in value %}
               <tr>

                 <td>
                   <form action="/MoreCDetailsProj" method ="POST">
                       <input type ="submit" name="submit_button" value ={{row[0]}} >

                </form>
              </td>

                   <td>{{row[1]}}</td>
                   <td>{{row[2]}}</td>
                   <td>{{row[3]}}</td>


               </tr>
           {% endfor %}
       </tbody>

       </table>




</body>

</html>
