<html>
<head>
 House Payments
</head>


<body>
 
    <table border="1" >
        <thead> 
           <tr>
               <th>Transcation_id</th>
               <th>Date of Transcation</th>
               <th>Sender_id</th>
               <th>Receiver_id</th>
               <th>Amount</th>
           </tr>
           </thread>
        
               
                  <tbody> 
           {% for row in value %}  
               <tr> 
                   <td>{{row[0]}}</td> 
                   <td>{{row[1]}}</td> 
                   <td>{{row[2]}}</td>
                   <td>{{row[3]}}</td>
                   <td>{{row[4]}}</td>
                    
               </tr> 
           {% endfor %} 
       </tbody> 
              
       </table>
<br/><br/><br/><br/><br/><br/>
    <div id= "filter">
        <form action="/transactionfilter" method= "POST">
            <input type="submit"  name = "submit_button" value ="Sort by date">
            <input type="submit" name = "submit_button" value ="Filter by reciever id ">
            <input type="submit" name = "submit_button" value ="sort by amount">
            <input type="submit" name = "submit_button" value ="check transcation between these dates ">
            <h1>Pyhton mein iska code nahi likha hai abhi</h1>
        </form>
    
    </div>
   

</body>

</html>
