<html>
<head>
    
</head>


<body>
 <h1>Welcome</h1>
    <table id= "Not started">
        <tr>
            <th>Project Name</th>
            <th>Project Contractor</th>
            <th>No of houses </th>
            <th>People Interesed </th>
            <th>Reviews</th>
            <th>Other details</th>
        </tr>
         
            <tr>
                <td>hello</td>
                <td>Mr. manohar lal</td>
                <td>100</td>
                <td>120</td>
                <td>Link to a page</td>

                
                <td>
                    <a href="/viewproject/1">Other details   </a>
                </td>

            </tr>
           
    </table>
    <br/><br/><br/><br/><br/><br/><br/>
    
    

</body>

</html>
