<html>
<head>
    <h1> Add a new project </h1>


</head>


<body>
 <h1> Upcoming Projects</h1>
    <table >
        <tr>
            <th>Project Name</th>
            <th>Project Completion</th>
            <th>Project Details </th>
            <th>Interesed Contractors</th>
            <th>Assign Contractor</th>
        </tr>
         
            <tr>
                <td>hello</td>
                <td>Not started</td>
                <td>
                    <a href="/viewproject/1">Complete details       </a>
                </td>
                <td>
                    <a href="/viewproject/1">View Interested Contractors        </a>
                </td>
                <td>
                    <a href="/viewproject/1">Finalise Contractors    </a>
                </td>

            </tr>
            <tr>
                <td>hello</td>
                <td>Not started</td>
                <td>
                    <a href="/viewproject/1">Complete details       </a>
                </td>
                <td>
                    <a href="/viewproject/1">View Interested Contractors        </a>
                </td>
                <td>
                    <a href="/viewproject/1">Finalise Contractors    </a>
                </td>

            </tr>
    </table>
    <br/><br/><br/><br/><br/><br/><br/>
    <h1>Live Projects</h1>
    <table>
        <tr>
            <th>Project Name</th>
            <th>Project Completion</th>
            <th>Project Details </th>
            
            <th>Assign Contractor</th>
        </tr>
         
            <tr>
                <td>hello</td>
                <td>10%</td>
                <td>
                    <a href="/viewproject/1">Complete details       </a>
                </td>
                <td>
                    <a href="/viewproject/1">Mr. Manohar lal </a>
                </td>

            </tr>
            <tr>
                <td>hello</td>
                <td>10%</td>
                <td>
                    <a href="/viewproject/1">Complete details       </a>
                </td>
                <td>
                    <a href="/viewproject/1">Mr. Manohar lal </a>
                </td>

            </tr>
    </table>
    

</body>

</html>
